html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.fullPage{
  height: 100vh;
  widows: 100vw;
  display: flex;
  flex:auto;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
